<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABzRh6nY4Xlbqa0VV96BSJ4_iK6avBo0E</string>
	<key>GCM_SENDER_ID</key>
	<string>729266811689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodyMorley.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-a2438</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-a2438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729266811689:ios:4f76b98f4267fe119b3d38</string>
</dict>
</plist>